market_prediction/by_news/data
scraper/news_scraper/output
**/__pycache__/**
scraper/debug/
scraper/output/
market_prediction/by_news/test/
useful.md
db.md
summarization/ABS/data
summarization/ABS/scripts/debug
**.bk
summarization/ABS/result/
summarization/ABS/result_plus_using_word2vec
summarization/ABS/result_using_word2vec
scraper/log
makeDataSet/preprocessing/result/
makeDataSet/preprocessing/log/