market_prediction/by_news/data
scraper/news_scraper/output
**/__pycache__/**
scraper/debug/
scraper/output/
market_prediction/by_news/test/
useful.md
db.md
tensorflow/ABS/data
tensorflow/ABS/scripts/debug
**.bk
tensorflow/ABS/result/
tensorflow/ABS/result_plus_using_word2vec
tensorflow/ABS/result_using_word2vec
chainer/ABS/result/
scraper/log
dataset/result/
dataset/log/
*.ipynb
word2vec
*#*.py